<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <ul class="menu">
            <li>
              <a href="">MAIN</a>
            </li>
            <li>
              <a href="">ABOUT</a>
            </li>
            <li>
              <a href="">GAME FEATURE</a>
            </li>
            <li>
              <a href="">SYSTEM REQUIREMENTS</a>
            </li>
            <li>
              <a href="">QUOTES</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3">
          <div class="icon">
            <a href="#">
              <div class="icon facebook-icon"></div>
            </a>
            <a href="#">
              <div class="icon twitter-icon"></div>
            </a>
            <a href="#">
              <div class="icon youtube-icon"></div>
            </a>
            <a href="#">
              <div class="icon twitch-icon"></div>
            </a>
          </div>
        </div>
        <hr class="my-4" style="color: aliceblue;"/>
        <div class="row">
          <div class="col-lg-4">
            <p class="text-muted copyright">2022 JSD Games, Inc. All Right Reserved</p>
          </div>
          <div class="col-8 pe-0">
            <ul class="last">
              <li class="">
                <a href="#">PRIVACY POLICY</a>
              </li>
              <li>
                <a href="#">TERMS OF SERVICES</a>
              </li>
              <li>
                <a href="#">CODE OF CONDUCTS</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>