<link rel="stylesheet" href="css/mainStyle.css" type="text/css" />
<nav class="navbar navbar-expand-lg navbar-dark bg-transparent shadow">
    <div class="container">
      <a class="navbar-brand me-5" href="#">LOGO</a>
      <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">WORK</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CONTACT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ABOUT ME</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="">SIGN UP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">LOGIN</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>