<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>

  <div class="jumbotron jumbotron-fluid d-flex align-items-center profile" id="newslettercontent">
    <div class="container">
      <div class="row d-flex">
        <div class="col-md-8 text-left">
          <h1>USER PROFILE</h1>
          <table class="table table-dark table-bordered">
            <tr>
              <td scope="col">User ID</td>
              <td scope="col"><%= data %></td>
            </tr>
            <tr>
              <td scope="col">Username</td>
              <td scope="col"><%= data.Username %></td>
            </tr>
            <tr>
              <td scope="col">Email</td>
              <td scope="col"><%= data.Email %></td>
            </tr>
          </table>

          <button type="button" class="btn btn-sm btn-danger deleteUser" id="deleteUser" data-toggle="modal"
            data-target="#deleteConfirmation"><strong>DELETE ALL USER
              DATA</strong></button>

          <!-- Modal -->
          <div class="modal fade" id="deleteConfirmation" tabindex="-1" role="dialog"
            aria-labelledby="deleteUserModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteUserModal"><strong>Are you sure to delete all your
                      data?</strong></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  All data including your game histories will also be deleted. There is no turning back after you
                  confirm the deletion.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                  <form action="/profile/deleteUser?_method=DELETE" method="POST" class="d-inline-block">
                    <button type="submit" class="btn btn-danger">Confirm Delete</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- End of Modal -->

        </div>
      </div>
    </div>
  </div>

  </div>
</body>

</html>