<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" href="css/gameStyle.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<%- include ('layouts/nav.ejs') %>
<body>
    <nav class="navi" href="index.html">
        <ul>Rock Paper Scissors</ul>
    </nav>
    <section>
        <div class="container-fluid">
            <div class="row" style="height: 500px;">
                <div class="col-md-5 d-flex flex-column align-items-center justify-content-evenly">
                    <h2 class="player-text">Player</h2>
                    <div class="item" id="player-rock">
                        <img src="gameAssets/batu.png" class="option" onclick="playerRockClick()"> 
                    </div>
                    <div class="item" id="player-scissors">
                        <img src="gameAssets/gunting.png" class="option" onclick="playerScissorsClick()"> 
                    </div>
                    <div class="item" id="player-paper">
                        <img src="gameAssets/kertas.png" class="option" onclick="playerPaperClick()"> 
                    </div>
                </div>


                <div class="col-md-2 d-flex flex-column align-items-center justify-content-evenly">
                    <p class="vs" style="visibility: visible;">VS</p>
                    <div class="result">
                        <p class="text-result" id="result-id">Score</p>
                    </div>
                </div>


                <div class="col-md-5 d-flex flex-column align-items-center justify-content-evenly">
                    <h2 class="player-text">COM</h2>
                    <div class="item" id="computer-rock">
                        <img src="gameAssets/batu.png" class="option"> 
                    </div>
                    <div class="item" id="computer-scissors">
                        <img src="gameAssets/gunting.png" class="option"> 
                    </div>
                    <div class="item" id="computer-paper">
                        <img src="gameAssets/kertas.png" class="option"> 
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 d-flex flex-column align-items-center justify-content-evenly">
                    <img src="gameAssets/refresh.png" class="refresh" onclick="reset()">
                </div>
            </div>
        </div>
        
    </section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="js/script.js"></script>
</body>
</html>