<%- include ('layouts/header.ejs') %> 
<%- include ('layouts/nav.ejs') %>
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent shadow">
          <div class="container">
            <a class="navbar-brand me-5" href="#">LOGO</a>
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
              <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" href="#">HOME</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">WORK</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">CONTACT</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">ABOUT ME</a>
                </li>
              </ul>
              <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="/signup">SIGN UP</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login">LOGIN</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!--- Section 1 -->
        <section class="bg-image position-relative d-flex align-items-center text-center justify-content-center ">
          <div class="text-center">
            <h1 class="mb-3">PLAY TRADITIONAL GAME</h1>
            <p class="mt-4">Experience new traditional game play</p>
            <button onclick="location.href='/game'" class="btn btn-warning mt-4" >PLAY NOW</button>
            <div class="scroll-down">
              <a>
                <p>THE STORY</p>
              </a>
            </div>
          </div>
        </section>

        <section class="games">
          <div class="container" style="color: whitesmoke; padding: 14vh 0vh;">
            <h1 >What's so special ?</h1>
            <div class="row">
              <div class="col-md-4 mb-4"> 
                <h2>The Games</h2>
              </div>
              <div class="col-md-8">
            <div id="carouselWithIndicators" class="carousel slide" data-bs-ride="carousel" style="align-content: center;">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselWithIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselWithIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselWithIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="..." />
                </div>
                <div class="carousel-item">
                  <img src="assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="..." />
                </div>
                <div class="carousel-item">
                  <img src="assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="..." />
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselWithIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselWithIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          </div>
        </section>

        <section class="feature">
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
              </div>
              <div class="col-lg-4" id="feature-text">
                <p>What's so special ?</p>
                <h1>FEATURES</h1>
                <div class="position-relative" id="feature-list">
                <ul>
                  <li class="active">
                    <h1 class="text-warning">Traditional Games</h1>
                    <p>if you miss your childhood, we provide many traditional games here</p>
                  </li>
                  <li class="item">
                    <h1 class="text-warning">GAME SUIT</h1>
                  </li>
                  <li class="item">
                    <h1 class="text-warning">TBD</h1>
                  </li>
                </ul>
              </div>
              </div>
            </div>
          </div>
        </section>

        <section class="requirements">
          <div class="container">
            <h1 style="font-size: 40px; color: whitesmoke; text-align: center; margin-bottom: 50px;">Can My Computer run this game ?</h1>
            <div class="row">
              <div class="col-lg-6">
                <h1 style="font-size: 40px; color:aliceblue">SYSTEM REQUIREMENTS</h1>
                <div class="grid-container">
                  <div class="grid-item item1">
                    <h1 class="text-warning">OS:</h1>
                    <p>Windows 10 64-bit only <br>
                    (no OSX Support at this time)</p>
                  </div>
                  <div class="grid-item item2">
                    <h1 class="text-warning">PROCESSOR:</h1>
                    <p >Intel Core 2 Duo @2.4 GHZ or<br>
                    AMD Athlon X2 @ 2.8 GHZ</p>
                  </div>
                  <div class="grid-item item3">
                    <h1 class="text-warning">MEMORY:</h1>
                    <p >4 GB RAM <br>
                    </p>
                  </div>
                  <div class="grid-item item4">
                    <h1 class="text-warning">STORAGE:</h1>
                    <p >8 GB Available Space<br></p>
                  </div>
                  <div class="grid-item item5">
                    <h1 class="text-warning">GPU:</h1>
                    <p>NVDIA GeForce GTX 1660 6GB or<br>
                      AMD RADEON HD 7850 2GB</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="top-scores">
          <div class="container">
          <div class="row">
            <div class="col-lg-4" id="top-text">
              <h1>TOP SCORES</h1>
              <p>This top score from various games provided on this platform</p>
            <div>
            <a href="" class="btn btn-warning my-3">See More</a>
          </div>
          </div>
          <div class="col-lg-6 offset-lg-2">
            <div class="grid-container" style="display: grid; grid-template-columns: 1fr 1fr 1fr;">
            <div class="grid-item item1 mb-4"> 
              <div class="card-body bg-dark" style="max-width: 400px;">
                <div class="d-flex">
                <div class="profil me-4">
                  <img src="assets/facebook.svg" alt="">
                </div>
                <p class="title" style="font-size: 20px; color: aliceblue;">
                  Jeffry <br>
                  Pc Gamer <br>
                  One of my gaming highlights of the year.
                </p>
                </div>

              </div>
            </div>
            <div class="grid-item item2 mb-4"> 
              <div class="card-body bg-dark" style="max-width: 400px;">
                <div class="d-flex">
                <div class="profil me-4">
                  <img src="assets/facebook.svg" alt="">
                </div>
                <p class="title" style="font-size: 20px; color: aliceblue;">
                  Jeffry <br>
                  Pc Gamer <br>
                  One of my gaming highlights of the year.
                </p>
                </div>

              </div>
            </div>
            <div class="grid-item item3 mb-4"> 
              <div class="card-body bg-dark" style="max-width: 400px;">
                <div class="d-flex">
                <div class="profil me-4">
                  <img src="assets/facebook.svg" alt="">
                </div>
                <p class="title" style="font-size: 20px; color: aliceblue;">
                  Jeffry <br>
                  Pc Gamer <br>
                  One of my gaming highlights of the year.
                </p>
                </div>

              </div>
            </div>
          </div>
            </div>
          </div>
          </div>
          </div>
        </section>
        <section class="newsletter">
          <div class="container">
            <div class="row">
              <div class="col-lg-6">

              </div>
              <div class="col-lg-6">
                <p>Want to stay in touch ?</p>
                <h1 style="color: aliceblue;">NEWSLETTER <br> SUBSCRIBE</h1>
                <p>In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don't spam</p>
              <div class="mt-5">
                <div class="mb-3">
                  <div class=" form-floating mb-3 mt-3 d-flex">
                    <input type="email" class="form-control bg-dark text-warning" name="email" id="email" aria-describedby="emailHelpId" placeholder="youremail@gmail.com" value="youremail@binar.co.id">
                    <label for="" class="form-label text-white">Your Email Address</label>
                  <button class="btn btn-warning w-50 p-2 ms-2">Subscribe Now</button>
                </div>
              </div>
              </div>
              </div>
            </div>
          </div>

        </section>
        <%- include ('layouts/footer.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
