<h1>Signup Traditional Game</h1>

<form action="/signup" method="POST">
    <label for="email">Email</label>
    <br>
    <input type="email" name="email" placeholder="Please Enter Email">
    <br>

    <label for="password">Password</label>
    <br>
    <input type="password" name="password" placeholder="Please Enter Password">
    <br>
    <button type="submit">Register</button>
</form>