/* 
** The Header Media Queries **
** Tweak as per your needs **
*/

.navbar-brand {
    font-weight: bold;
    font-size: 20px; }
  
  .navbar {
    position: relative;
    background-color: #24404e; }